<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>Registrera ny kund</title>
</head>
<body>
<div class="row">
    <div class="col-sm-6">
        <form method="POST" th:object="${registrationForm}">

            <div class="form-group">
                <label for="ssn">Personnummer</label>
                <input type="text" th:value="*{socialSecurityNumber}" class="form-control" id="ssn" title="ssn" placeholder="Personnummer">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('ssn')}" th:errors="*{socialSecurityNumber}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="firstName">Förnamn</label>
                <input type="text" th:value="*{firstName}" class="form-control" id="firstName" title="firstName" placeholder="Förnamn">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="lastName">Efternamn</label>
                <input type="text" th:value="*{lastName}" class="form-control" id="lastName" title="fullName" placeholder="Efternamn">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="address">Adress</label>
                <input type="text" th:value="*{address}" class="form-control" id="address" title="address" placeholder="Adress">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="zipCode">Postnummer</label>
                <input type="text" th:value="*{zipCode}" class="form-control" id="zipCode" title="zipCode" placeholder="Postnummer">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('zipCode')}" th:errors="*{zipCode}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="city">Ort</label>
                <input type="text" th:value="*{city}" class="form-control" id="city" title="city" placeholder="Ort">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('city')}" th:errors="*{city}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="country">Land</label>
                <input type="text" th:value="*{country}" class="form-control" id="country" title="country" placeholder="Land">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('country')}" th:errors="*{country}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="phone">Telefonnummer</label>
                <input type="text" th:value="*{phone}" class="form-control" id="phone" title="phone" placeholder="Telefonnummer">
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Fel fel</span>
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" th:value="*{email}" class="form-control" id="email" title="email" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span class="help-block alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
    <div class="col-sm-6">
        &nbsp;
    </div>
</div>
</body>
</html>